@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
  transition: 0.3s;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Desktop  */
@media (min-width: 700px) {
  .template-1-mobile-main,
  .template-1-mobile-main * {
    box-sizing: border-box;
    display: none;
  }

  .template-1-mobile-main {
    background: var(--neutrals-n-10, #f7f7f9);
    width: 375px;
    height: 5410px;
    position: relative;
    overflow: hidden;
    display: none;
  }

  .template-1-main,
  .template-1-main * {
    box-sizing: border-box;
  }

  .template-1-main {
    background: var(--theme-1-neutrals-10, #f4f5f7);
    width: 100%;
    height: 5125px;
    position: relative;
    overflow: hidden;
  }

  .group-4 {
    position: absolute;
    inset: 0;
  }

  .about-myself-background-shape-desktop {
    border-radius: 0;
    position: absolute;
    left: 100%;
    top: 4535px;
    transform: translate(-1440px, -924px);
    overflow: visible;
  }

  .contact-form-background-shape-desktop {
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 5125px;
    transform: translate(0, -846px);
    overflow: visible;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 320px;
    top: 4421px;
    overflow: hidden;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .primary-text {
    color: var(--neutrals-n-0, #fff);
    text-align: center;
    font: var(--header-2, 700 40px/52px "Poppins", sans-serif);
    position: relative;
    width: 801px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .primary-text2 {
    color: var(--primary-b-50, #ebebff);
    text-align: center;
    font: 400 20px/28px "Poppins", sans-serif;
    position: relative;
    width: 569px;
    height: 102px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .text-field-activated {
    flex-shrink: 0;
    width: 447px;
    height: 48px;
    position: relative;
  }

  .container-basic {
    height: 48px;
    position: absolute;
    right: 0;
    left: 0;
    top: calc(50% - 24px);
  }

  .container {
    background: var(--mono-white, #fff);
    border-radius: 2px;
    border-style: solid;
    border-color: var(--base-100, #cfd8dc);
    border-width: 1px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .input-text {
    color: var(--neutral-n-800, #172b4d);
    text-align: left;
    font: 400 17px/20px "Poppins", sans-serif;
    position: absolute;
    right: 38px;
    left: 16px;
    top: calc(50% - 9px);
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .text-area {
    flex-shrink: 0;
    width: 447px;
    height: 170px;
    position: relative;
  }

  .container-basic2 {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .input-text2 {
    color: var(--neutrals-n-60, #b3bac5);
    text-align: left;
    font: var(--input-normal, 400 15px/24px "Poppins", sans-serif);
    position: absolute;
    right: 38px;
    left: 16px;
    bottom: 15px;
    top: 15px;
  }

  .normal-button-primary-enabled {
    background: var(--neutrals-n-0, #fff);
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .get-in-touch {
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font: var(--button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-block2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 143px;
    top: 3777px;
    overflow: hidden;
  }

  .text2 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .primary-text3 {
    color: var(--theme-1-neutrals-1, #091e42);
    text-align: left;
    font: var(--header-2, 700 40px/52px "Poppins", sans-serif);
    position: relative;
    width: 447px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .primary-text4 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--body-2, 400 16px/24px "Poppins", sans-serif);
    position: relative;
    width: 447px;
    height: 102px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .supporting-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .let-s-connect {
    color: var(--primary-b-300, #7f8cff);
    text-align: left;
    font: var(--body-2-bolder, 500 16px/24px "Poppins", sans-serif);
    position: relative;
  }

  .frame-1 {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .normal-button-tertiary-disabled {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .icons-icon-git-hub {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .frame {
    width: 18px;
    height: 20px;
    position: absolute;
    left: 3px;
    top: 2px;
    overflow: hidden;
  }

  .frame2 {
    width: 18px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .group {
    position: absolute;
    left: 0.01px;
    top: 0;
    overflow: visible;
  }

  .icons-icon-linkedin {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .frame3 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    overflow: hidden;
  }

  .group2 {
    position: absolute;
    inset: 0;
  }

  .group3 {
    position: absolute;
    left: 7.29px;
    top: 3.03px;
    overflow: visible;
  }

  .group4 {
    position: absolute;
    left: 0;
    top: 6.28px;
    overflow: visible;
  }

  .group5 {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  .normal-button-tertiary-enabled {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .icons-icon-angelist {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .angelist-1 {
    position: absolute;
    left: 2px;
    top: 2px;
    overflow: visible;
  }

  .icons-icon-twitter {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .frame4 {
    width: 20px;
    height: 19.97px;
    position: absolute;
    left: 0;
    top: -0.03px;
    overflow: hidden;
  }

  .group6 {
    position: absolute;
    left: 0.01px;
    top: 0;
    overflow: visible;
  }

  .icons-icon-medium {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .normal-button-secondary-enabled {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--primary-b-400, #6070ff);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .get-my-resume {
    text-align: center;
    font: var(--theme-1-button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 614px;
    top: 3753px;
    overflow: hidden;
  }

  .frame-12 {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .frame-7 {
    flex-shrink: 0;
    width: 684px;
    height: 72px;
    position: relative;
    overflow: hidden;
  }

  .languages {
    color: var(--theme-1-neutrals-3, #344563);
    text-align: left;
    font: var(--body-1-bolder, 500 20px/24px "Poppins", sans-serif);
    position: absolute;
    right: 78px;
    left: 24px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .normal-button-tertiary-disabled2 {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 26px;
    top: calc(50% - 20px);
    overflow: hidden;
  }

  .icons-icon-chevron-down-larger {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .langguage-list {
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .frame-9 {
    background: var(--neutrals-n-10, #f7f7f9);
    border-radius: 8px;
    flex-shrink: 0;
    width: 122px;
    height: 120px;
    position: relative;
    overflow: hidden;
  }

  .ellipse-1 {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--neutrals-n-0, #fff);
    border-width: 1px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: calc(50% - 49px);
    top: 12px;
  }

  .java-script {
    color: var(--neutrals-n-700, #253858);
    text-align: left;
    font: var(--body-3-bolder, 500 15px/20px "Poppins", sans-serif);
    position: absolute;
    left: 12px;
    top: 76px;
    width: 98px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .frame-10 {
    background: var(--neutrals-n-10, #f7f7f9);
    border-radius: 8px;
    flex-shrink: 0;
    width: 122px;
    height: 120px;
    position: relative;
    overflow: hidden;
  }

  .html {
    color: var(--neutrals-n-700, #253858);
    text-align: left;
    font: var(--body-3-bolder, 500 15px/20px "Poppins", sans-serif);
    position: absolute;
    left: 12px;
    top: 76px;
    width: 98px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .frame-11 {
    background: var(--neutrals-n-10, #f7f7f9);
    border-radius: 8px;
    flex-shrink: 0;
    width: 122px;
    height: 120px;
    position: relative;
    overflow: hidden;
  }

  .css {
    color: var(--neutrals-n-700, #253858);
    text-align: left;
    font: var(--body-3-bolder, 500 15px/20px "Poppins", sans-serif);
    position: absolute;
    left: 12px;
    top: 76px;
    width: 98px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .frame-8 {
    flex-shrink: 0;
    width: 684px;
    height: 72px;
    position: relative;
    overflow: hidden;
  }

  .frameworks {
    color: var(--theme-1-neutrals-3, #344563);
    text-align: left;
    font: var(--body-1-bolder, 500 20px/24px "Poppins", sans-serif);
    position: absolute;
    right: 78px;
    left: 24px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icons-icon-chevron-right-larger {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .separator-bottom {
    background: var(--neutrals-n-40, #dfe1e6);
    height: 1px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .frame-92 {
    flex-shrink: 0;
    width: 684px;
    height: 72px;
    position: relative;
    overflow: hidden;
  }

  .skills {
    color: var(--theme-1-neutrals-3, #344563);
    text-align: left;
    font: var(--body-1-bolder, 500 20px/24px "Poppins", sans-serif);
    position: absolute;
    right: 78px;
    left: 24px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icons-icon-chevron-right-larger2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .contact-form-background-shapes {
    position: absolute;
    left: 75.34px;
    top: 4358.09px;
    overflow: visible;
  }

  .list-portoflio {
    padding: 142px;
    display: flex;
    flex-direction: column;
    gap: 142px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 917px;
    overflow: hidden;
  }

  .portoflio-card-enabled {
    width: 100%;
    height: 496px;
    position: relative;
    display: flex;
  }

  .portoflio-card-enabled-rv {
    width: 100%;
    height: 496px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
  }

  .container-basic3 {
    border-radius: 24px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .container2 {
    background: var(--neutrals-n-0, #fff);
    border-radius: 24px;
    border-style: solid;
    border-color: var(--neutrals-n-40, #dfe1e6);
    border-width: 1px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .left-block3 {
    padding: 24px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: hidden;
  }

  .primary-text6 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .project-title {
    color: var(--theme-1-neutrals-1, #091e42);
    text-align: left;
    font: var(--header-2, 700 40px/52px "Poppins", sans-serif);
    position: relative;
    width: 100%;
    height: 46px;
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .client {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .text3 {
    color: var(--theme-1-neutrals-3, #344563);
    text-align: left;
    font: 500 18px/24px "Poppins", sans-serif;
    position: relative;
  }

  .counter {
    background: var(--neutrals-n-50, #c1c7d0);
    border-radius: 50%;
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    position: relative;
  }

  .role {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .text4 {
    color: var(--theme-1-neutrals-6, #6b778c);
    text-align: left;
    font: 400 18px/24px "Poppins", sans-serif;
    position: relative;
  }

  .year-label {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .primary-text7 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--body-2, 400 16px/24px "Poppins", sans-serif);
    position: relative;
    max-width: 100%;
    height: 50px;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .tag {
    background: var(--primary-b-50, #ebebff);
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .html2 {
    color: var(--primary-b-400, #6070ff);
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .css2 {
    color: var(--primary-b-400, #6070ff);
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .java-script2 {
    color: var(--primary-b-400, #6070ff);
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .action {
    flex-shrink: 0;
    width: 496px;
    height: 153px;
    position: relative;
  }

  .normal-button-secondary-enabled2 {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--primary-b-400, #6070ff);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 16px;
    overflow: hidden;
    color: var(--primary-b-500, #396df2);
    cursor: pointer;
  }

  .see-project {
    text-align: center;
    font: var(--button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .normal-button-secondary-enabled2:hover {
    background-color: #396df2;
    color: #fff;
    box-shadow: 0 0 4px #12379e;
  }

  .btn-hover {
    color: #396df2;
  }

  .btn-hover:hover {
    background-color: #396df2;
    color: #fff !important;
    box-shadow: 0 0 4px #12379e;
  }

  .img {
    border-radius: 8px;
    width: 50%;
    height: 448px;
    overflow: hidden;
    z-index: 1;
    margin: 24px 24px;
    object-fit: cover;
    cursor: pointer;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .snapshoot-portfolio {
    border-radius: 8px;
    width: 100%;
    height: 448px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
  }

  .snapshoot-portfolio:hover {
    transform: scale(1.07);
  }

  .hand-cursor-1 {
    width: 57px;
    height: 57px;
    position: absolute;
    left: 376px;
    top: 53.05px;
    transform-origin: 0 0;
    transform: rotate(-40.539deg) scale(1, 1);
  }

  .primary-text9 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--body-2, 400 16px/24px "Poppins", sans-serif);
    position: relative;
    width: 496px;
    height: 53px;
  }

  .frame-13 {
    width: 1440px;
    height: 916px;
    position: absolute;
    left: 0;
    top: 1px;
  }

  .header-background-shape-desktop {
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  .header {
    width: 500px;
    height: 846px;
    position: absolute;
    left: 0;
    top: 70px;
  }

  .text5 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 260px;
    top: calc(50% - 134px);
  }

  .primary-text10 {
    color: var(--theme-1-neutrals-1, #091e42);
    text-align: left;
    font: var(--header-1, 700 48px/60px "Poppins", sans-serif);
    position: relative;
    width: 920px;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .primary-text11 {
    color: var(--theme-1-neutrals-3, #344563);
    text-align: left;
    font: var(--body-1, 400 20px/28px "Poppins", sans-serif);
    position: relative;
    width: 920px;
    height: 98px;
  }

  .header-bg {
    position: absolute;
    left: 34.6px;
    top: 118px;
    overflow: visible;
  }

  .social-media-icons {
    position: absolute;
    inset: 0;
  }

  .angellist {
    position: absolute;
    left: 416px;
    top: 641px;
    overflow: visible;
  }

  .medium {
    position: absolute;
    left: 339px;
    top: 643px;
    overflow: visible;
  }

  .linkedin-icon {
    position: absolute;
    left: 299px;
    top: 641px;
    overflow: visible;
  }

  .github {
    position: absolute;
    left: 379px;
    top: 641px;
    overflow: visible;
  }

  .twitter {
    position: absolute;
    left: 260px;
    top: 641px;
    overflow: visible;
  }

  .top-naviagation {
    width: 100%;
    height: 72px;
    z-index: 9999999;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #ffffff48;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 80px 4px 80px;
  }

  .logo-placeholder {
    padding: 10px 12px 10px 12px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
  }

  .my-logo {
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font: 700 18px/20px "Poppins", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rotateM;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  .my-logo p {
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes rotate {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @-moz-keyframes rotate {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @-o-keyframes rotate {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(-180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @-webkit-keyframes rotateM {
    0% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @-moz-keyframes rotateM {
    0% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @-o-keyframes rotateM {
    0% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotateM {
    0% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .item-navigation {
    display: flex;
    min-width: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .port {
    position: absolute;
    width: 0;
    z-index: 9;
    left: -30%;
  }

  .port-b {
    position: absolute;
    color: #396df2;
    width: 0;
    overflow: hidden;
  }

  .abu {
    position: absolute;
    width: 0;
    left: 20%;
    z-index: 9;
  }

  .cot {
    position: absolute;
    width: 0;
    left: 60%;
    z-index: 9;
  }

  .nav-item {
    border-bottom: 2px solid #396df2;
  }

  .port:hover {
    width: 65px;
  }

  .cot:hover {
    width: 67px;
  }

  .abu:hover {
    width: 50px;
  }

  .nav-item:hover .port-b {
    width: 100%;
  }

  .nav-item div {
    /* position: absolute; */
    z-index: 99;
  }
}

/* Mobile  */
@media (max-width: 700px) {
  .template-1-main,
  .template-1-main * {
    box-sizing: border-box;
    display: none;
  }

  .template-1-main {
    background: var(--neutrals-n-10, #f7f7f9);
    width: 375px;
    height: 5410px;
    position: relative;
    overflow: hidden;
    display: none;
  }

  .template-1-mobile-main,
  .template-1-mobile-main * {
    box-sizing: border-box;
  }

  .template-1-mobile-main {
    background: var(--neutrals-n-10, #f7f7f9);
    width: 375px;
    height: 5410px;
    position: relative;
    overflow: hidden;
  }

  .frame-14 {
    width: 462px;
    height: 718px;
    position: absolute;
    left: -34px;
    top: 0;
  }

  .header-background-mobile {
    border-radius: 0;
    position: absolute;
    left: 34px;
    top: 0;
    overflow: visible;
  }

  .header-shapes-mobile {
    position: absolute;
    left: 0;
    top: 104px;
    overflow: visible;
  }

  .headline {
    padding: 114px 24px 114px 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 197px);
    top: 92px;
    overflow: hidden;
  }

  .primary-text {
    color: var(--neutrals-n-800, #172b4d);
    text-align: left;
    font: var(--header-2, 700 40px/52px "Poppins", sans-serif);
    position: relative;
    width: 327px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .primary-text2 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--body-2, 400 16px/24px "Poppins", sans-serif);
    position: relative;
    width: 327px;
    height: 146px;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .supporting-text {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .let-s-connect {
    color: var(--primary-b-300, #7f8cff);
    text-align: left;
    font: var(--body-2-bolder, 500 16px/24px "Poppins", sans-serif);
    position: relative;
  }

  .social-media-icons {
    flex-shrink: 0;
    width: 170.17px;
    height: 20px;
    position: static;
  }

  .vector {
    position: absolute;
    left: 180px;
    top: 470px;
    overflow: visible;
  }

  .vector2 {
    position: absolute;
    left: 103px;
    top: 472px;
    overflow: visible;
  }

  .linkedin-icon {
    position: absolute;
    left: 63px;
    top: 470px;
    overflow: visible;
  }

  .vector6 {
    position: absolute;
    left: 143px;
    top: 470px;
    overflow: visible;
  }

  .vector7 {
    position: absolute;
    left: 24px;
    top: 470px;
    overflow: visible;
  }

  .works {
    padding: 114px 24px 114px 24px;
    display: flex;
    flex-direction: column;
    gap: 88px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 718px;
    overflow: hidden;
  }

  .card-works {
    background: #fff;
    border-radius: 16px;
    border-style: solid;
    border-color: #dfe1e6;
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .snapshoot-portfolio {
    border-radius: 8px;
    flex-shrink: 0;
    width: 295px;
    height: 220px;
    position: relative;
    overflow: hidden;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .primary-text3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .project-title {
    color: #172b4d;
    text-align: left;
    font: 700 32px/44px "Poppins", sans-serif;
    position: relative;
    width: 295px;
    height: 36px;
  }

  .frame-2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .client {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .text {
    color: #344563;
    text-align: left;
    font: var(--caption-1-bolder, 600 13px/16px "Poppins", sans-serif);
    position: relative;
  }

  .counter {
    background: #c1c7d0;
    border-radius: 50%;
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    position: relative;
  }

  .role {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .text2 {
    color: #7a869a;
    text-align: left;
    font: var(--caption-1-bolder, 600 13px/16px "Poppins", sans-serif);
    position: relative;
  }

  .year-label {
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .primary-text4 {
    color: #344563;
    text-align: left;
    font: var(--body-3, 400 15px/24px "Poppins", sans-serif);
    position: relative;
    width: 295px;
    height: 76px;
  }

  .tags {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .tag {
    background: #ebebff;
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .html {
    color: #6070ff;
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .css {
    color: #6070ff;
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .java-script {
    color: #6070ff;
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .action {
    flex-shrink: 0;
    width: 295px;
    height: 72px;
    position: relative;
  }

  .normal-button-secondary-enabled {
    border-radius: 8px;
    border-style: solid;
    border-color: #6070ff;
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: calc(50% - 24px);
    overflow: hidden;
  }

  .see-project {
    color: #396df2;
    text-align: center;
    font: var(--button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-works2 {
    background: var(--neutrals-n-0, #fff);
    border-radius: 16px;
    border-style: solid;
    border-color: var(--neutrals-n-40, #dfe1e6);
    border-width: 1px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .project-title2 {
    color: var(--neutrals-n-800, #172b4d);
    text-align: left;
    font: 700 32px/44px "Poppins", sans-serif;
    position: relative;
    width: 295px;
    height: 80px;
  }

  .text3 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--caption-1-bolder, 600 13px/16px "Poppins", sans-serif);
    position: relative;
  }

  .counter2 {
    background: var(--neutrals-n-50, #c1c7d0);
    border-radius: 50%;
    flex-shrink: 0;
    width: 8px;
    height: 8px;
    position: relative;
  }

  .text4 {
    color: var(--neutrals-n-100, #7a869a);
    text-align: left;
    font: var(--caption-1-bolder, 600 13px/16px "Poppins", sans-serif);
    position: relative;
  }

  .primary-text5 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--body-3, 400 15px/24px "Poppins", sans-serif);
    position: relative;
    width: 295px;
    height: 76px;
  }

  .tag2 {
    background: var(--primary-b-50, #ebebff);
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .html2 {
    color: var(--primary-b-400, #6070ff);
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .css2 {
    color: var(--primary-b-400, #6070ff);
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .java-script2 {
    color: var(--primary-b-400, #6070ff);
    text-align: left;
    font: var(--button-small, 500 12px/16px "Poppins", sans-serif);
    position: relative;
  }

  .normal-button-secondary-enabled2 {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--primary-b-400, #6070ff);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: calc(50% - 24px);
    overflow: hidden;
  }

  .see-project2 {
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font: var(--button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-title3 {
    color: var(--neutrals-n-800, #172b4d);
    text-align: left;
    font: 700 32px/44px "Poppins", sans-serif;
    position: relative;
    width: 295px;
    height: 36px;
  }

  .snapshoot-portfolio-1 {
    border-radius: 8px;
    flex-shrink: 0;
    width: 295px;
    height: 220px;
    position: relative;
    overflow: hidden;
  }

  .app-bar-compact-dark-i-os {
    width: 100%;
    height: 92px;
    left: 0;
    top: 0;
    position: fixed;
    backdrop-filter: blur(6px);
  }

  .toolbar-dark-compact {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .toolbar-container {
    background: var(--base-900, #e6e8eb4e);
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .logo-placeholder {
    padding: 10px 12px 10px 12px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 12px;
    top: calc(50% - 20px);
    overflow: hidden;
  }

  .my-logo {
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font: 700 18px/20px "Poppins", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .normal-button-tertiary-enabled {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 24px;
    top: calc(50% - 20px);
    overflow: hidden;
  }

  .icons-icon-menu {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .bars-status-bars-light {
    width: 375px;
    height: 44px;
    position: sticky;
    left: calc(50% - 187.5px);
    top: 0;
    overflow: hidden;
  }

  .rectangle {
    width: 375px;
    height: 44px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .group-3 {
    position: absolute;
    inset: 0;
  }

  .battery {
    position: absolute;
    left: 336px;
    top: 17.33px;
    overflow: visible;
  }

  .wifi {
    position: absolute;
    left: 315.69px;
    top: 17.33px;
    overflow: visible;
  }

  .cellular-connection {
    position: absolute;
    left: 293.67px;
    top: 17.67px;
    overflow: visible;
  }

  .time-style {
    width: 54px;
    height: 21px;
    position: absolute;
    left: 21px;
    top: 13px;
  }

  .time {
    color: #000;
    text-align: center;
    font: 500 14px "Roboto", sans-serif;
    position: absolute;
    left: 0;
    top: calc(50% - 7.5px);
    width: 54px;
  }

  .time-span {
    color: #000;
    font: 500 14px "Roboto", sans-serif;
  }

  .time-span2 {
    color: #000;
    font: 500 14px "Roboto", sans-serif;
  }

  .group-5 {
    position: sticky;
  }

  .base-about-my-self {
    border-radius: 0;
    position: absolute;
    left: 375px;
    top: 4769px;
    transform: translate(-375px, -1263px);
    overflow: visible;
  }

  .contact-me {
    border-radius: 0;
    position: absolute;
    left: 0;
    top: 5410px;
    transform: translate(0, -779px);
    overflow: visible;
  }

  .text-area {
    width: 327px;
    height: 170px;
    position: absolute;
    left: 24px;
    top: 5125px;
  }

  .container-basic {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .container2 {
    background: var(--mono-white, #fff);
    border-radius: 8px;
    border-style: solid;
    border-color: var(--base-100, #cfd8dc);
    border-width: 1px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
  }

  .input-text {
    color: var(--neutrals-n-60, #b3bac5);
    text-align: left;
    font: var(--input-normal, 400 15px/24px "Poppins", sans-serif);
    position: absolute;
    right: 38px;
    left: 16px;
    bottom: 15px;
    top: 15px;
  }

  .text-field-activated {
    width: 327px;
    height: 48px;
    position: absolute;
    left: 24px;
    top: 4991px;
  }

  .container-basic2 {
    height: 48px;
    position: absolute;
    right: 0;
    left: 0;
    top: calc(50% - 24px);
  }

  .input-text2 {
    color: var(--neutral-n-800, #172b4d);
    text-align: left;
    font: 400 17px/20px "Poppins", sans-serif;
    position: absolute;
    right: 38px;
    left: 16px;
    top: calc(50% - 9px);
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .contact-form-shapes-mobile {
    width: 265px;
    height: 709.17px;
    position: static;
  }

  .rectangle-42 {
    background: var(--primary-b-300, #7f8cff);
    width: 74.7px;
    height: 17.21px;
    position: absolute;
    left: 310px;
    top: 4681.4px;
    transform-origin: 0 0;
    transform: rotate(-23.177deg) scale(1, 1);
  }

  .ellipse-32 {
    background: var(--neutrals-n-0, #fff);
    border-radius: 50%;
    width: 90px;
    height: 89px;
    position: absolute;
    left: 328px;
    top: 4679.75px;
  }

  .ellipse-122 {
    background: #7f8cff;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 153px;
    top: 4686px;
  }

  .rectangle-72 {
    background: #7f8cff;
    width: 76.17px;
    height: 13.63px;
    position: absolute;
    left: 258.8px;
    top: 5305.89px;
    transform-origin: 0 0;
    transform: rotate(-36.739deg) scale(1, -1);
  }

  .ellipse-52 {
    background: #fff;
    border-radius: 50%;
    width: 31.11px;
    height: 31.11px;
    position: absolute;
    left: 276.74px;
    top: 5317.27px;
    transform-origin: 0 0;
    transform: rotate(48.943deg) scale(1, 1);
  }

  .about-my-self {
    padding: 114px 24px 114px 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 187.5px);
    top: 3506px;
    overflow: hidden;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .primary-text6 {
    color: var(--neutrals-n-800, #172b4d);
    text-align: left;
    font: var(--header-2, 700 40px/52px "Poppins", sans-serif);
    position: relative;
    width: 327px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .primary-text7 {
    color: var(--neutrals-n-600, #344563);
    text-align: left;
    font: var(--body-2, 400 16px/24px "Poppins", sans-serif);
    position: relative;
    width: 327px;
    height: 147px;
  }

  .frame-1 {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .normal-button-tertiary-disabled {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .soc-icon {
    fill: #12379e;
    background-color: #12379e;
    color: #12379e;
    -webkit-text-fill-color: #12379e;
  }

  .icons-icon-git-hub {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    color: #396df2;
  }

  .frame {
    width: 18px;
    height: 20px;
    position: absolute;
    left: 3px;
    top: 2px;
    overflow: hidden;
  }

  .frame2 {
    width: 18px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
  }

  .group {
    position: absolute;
    left: 0.01px;
    top: 0;
    overflow: visible;
  }

  .icons-icon-linkedin {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .frame3 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
    overflow: hidden;
  }

  .group2 {
    position: absolute;
    inset: 0;
  }

  .group3 {
    position: absolute;
    left: 7.29px;
    top: 3.03px;
    overflow: visible;
  }

  .group4 {
    position: absolute;
    left: 0;
    top: 6.28px;
    overflow: visible;
  }

  .group5 {
    position: absolute;
    left: 0;
    top: 0;
    overflow: visible;
  }

  .normal-button-tertiary-enabled2 {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .icons-icon-angelist {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .angelist-1 {
    position: absolute;
    left: 2px;
    top: 2px;
    overflow: visible;
  }

  .icons-icon-twitter {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
  }

  .frame4 {
    width: 20px;
    height: 19.97px;
    position: absolute;
    left: 0;
    top: -0.03px;
    overflow: hidden;
  }

  .group6 {
    position: absolute;
    left: 0.01px;
    top: 0;
    overflow: visible;
  }

  .icons-icon-medium {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .normal-button-secondary-enabled3 {
    border-radius: 8px;
    border-style: solid;
    border-color: var(--primary-b-400, #6070ff);
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .get-my-resume {
    color: var(--primary-b-500, #396df2);
    text-align: center;
    font: var(--button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .frame-12 {
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .frame-7 {
    flex-shrink: 0;
    width: 327px;
    height: 72px;
    position: relative;
    overflow: hidden;
  }

  .languages {
    color: #000;
    text-align: left;
    font: var(--body-1-bolder, 500 20px/24px "Poppins", sans-serif);
    position: absolute;
    right: 78px;
    left: 12px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .normal-button-tertiary-disabled2 {
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    right: 26px;
    top: calc(50% - 20px);
    overflow: hidden;
  }

  .icons-icon-chevron-down-larger {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .langguage-list {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
  }

  .frame-9 {
    background: var(--neutrals-n-10, #f7f7f9);
    border-radius: 8px;
    flex-shrink: 0;
    width: 303px;
    height: 66.72px;
    position: relative;
    overflow: hidden;
  }

  .ellipse-1 {
    border-radius: 50%;
    border-style: solid;
    border-color: var(--neutrals-n-0, #fff);
    border-width: 1px;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 12px;
    top: calc(50% - 24.36px);
  }

  .java-script3 {
    color: var(--neutrals-n-700, #253858);
    text-align: left;
    font: var(--body-3-bolder, 500 15px/20px "Poppins", sans-serif);
    position: absolute;
    right: 12px;
    left: 76px;
    top: calc(50% - 12.36px);
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .frame-10 {
    background: var(--neutrals-n-10, #f7f7f9);
    border-radius: 8px;
    flex-shrink: 0;
    width: 303px;
    height: 66.72px;
    position: relative;
    overflow: hidden;
  }

  .html3 {
    color: var(--neutrals-n-700, #253858);
    text-align: left;
    font: var(--body-3-bolder, 500 15px/20px "Poppins", sans-serif);
    position: absolute;
    right: 12px;
    left: 76px;
    top: calc(50% - 12.36px);
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .frame-11 {
    background: var(--neutrals-n-10, #f7f7f9);
    border-radius: 8px;
    flex-shrink: 0;
    width: 303px;
    height: 66.72px;
    position: relative;
    overflow: hidden;
  }

  .css3 {
    color: var(--neutrals-n-700, #253858);
    text-align: left;
    font: var(--body-3-bolder, 500 15px/20px "Poppins", sans-serif);
    position: absolute;
    right: 12px;
    left: 76px;
    top: calc(50% - 12.36px);
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .frame-8 {
    flex-shrink: 0;
    width: 327px;
    height: 72px;
    position: relative;
    overflow: hidden;
  }

  .frameworks {
    color: #000;
    text-align: left;
    font: var(--body-1-bolder, 500 20px/24px "Poppins", sans-serif);
    position: absolute;
    right: 78px;
    left: 12px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icons-icon-chevron-right-larger {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .separator-bottom {
    background: var(--neutrals-n-40, #dfe1e6);
    height: 1px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .frame-92 {
    flex-shrink: 0;
    width: 327px;
    height: 72px;
    position: relative;
    overflow: hidden;
  }

  .skills {
    color: #000;
    text-align: left;
    font: var(--body-1-bolder, 500 20px/24px "Poppins", sans-serif);
    position: absolute;
    right: 78px;
    left: 12px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .icons-icon-chevron-right-larger2 {
    flex-shrink: 0;
    position: relative;
    overflow: visible;
  }

  .primary-text8 {
    color: var(--neutrals-n-0, #fff);
    text-align: center;
    font: var(--header-2, 700 40px/52px "Poppins", sans-serif);
    position: absolute;
    left: -213px;
    top: 4734px;
    width: 801px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .primary-text9 {
    color: var(--primary-b-50, #ebebff);
    text-align: center;
    font: 400 20px/28px "Poppins", sans-serif;
    position: absolute;
    left: 24px;
    top: 4802px;
    width: 327px;
    height: 137px;
  }

  .text-field-activated2 {
    width: 327px;
    height: 48px;
    position: absolute;
    left: 24px;
    top: 5059px;
  }

  .home-indicator-light {
    width: 375px;
    height: 34px;
    position: absolute;
    left: calc(50% - 187.5px);
    bottom: 0;
  }

  .shape {
    background: var(--mono-black, #0d151e);
    border-radius: 10px;
    width: 134px;
    height: 5px;
    position: absolute;
    left: calc(50% - 67.5px);
    bottom: 8px;
  }

  .normal-button-primary-enabled {
    background: var(--neutrals-n-0, #fff);
    border-radius: 8px;
    padding: 12px 16px 12px 16px;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 24px;
    top: 5317px;
    overflow: hidden;
  }

  .get-in-touch {
    color: var(--primary-b-400, #6070ff);
    text-align: center;
    font: var(--button-normal, 500 17px/24px "Poppins", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
